<!doctype html>
<html>
<head>
  <title>To do List</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="container">

    <section class="page-header text-center">
      <h1>Profile</h1>
    </section>


    <div id="list">
      <form action="/create" method="post" accept-charset="utf-8">
        <div class="item-new">
          <input class="input" type="text" name="firstName" />
        </div>
      </form>



      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </section>
    <script src="main.js"></script>

  </body>
  </html>
